<div class="spalsh-page">
  <h1>Welcome to Historic Crown Heights</h1>
  	<p>Login</p>
 	 <div class="login">
   		<%= form_tag(session_path) do %>
      	<%= label_tag(:email) %><br/>
      	<%= text_field_tag(:email) %><br/>
      	<%= label_tag(:password) %><br/>
      	<%= password_field_tag(:password) %><br/>
      	<%= submit_tag('Login') %>
    	<% end %>
   <p style="color: red" <%= flash[:error] %></p>
  	</div>
  		<p><%= link_to('Sign up', new_user_path) %>
</div>
