
<div class="container">
<div id= "map">

  <script>

   L.mapbox.accessToken = 'pk.eyJ1IjoiamE5aGFycGVyIiwiYSI6IlVUaXBLXzgifQ.tC2ktomTqN0uz0h3yu23FA';

    L.mapbox.map('map', 'ja9harper.k2i6pfn9');

  </script>
</div>

<h1>memories</h1>

<div id="modal_window">
<table  class="memory_table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Place</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= story.body %></td>
        <td><%= story.place %></td>
        <td><%= story.user %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<footer>
</footer>
<br>
</div>
   
<%= link_to 'New Story', new_story_path %>
