<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Image:</strong>
  <%= @place.image %>
</p>

<p>
  <strong>History:</strong>
  <%= @place.history %>
</p>

<p>
  <strong>Latlng:</strong>
  <%= @place.latlng %>
</p>


<div id="demo-form" class="demo-description" style="display: none; ">
  <p>
    The basic dialog window is an overlay positioned within the viewport and is protected from page content
    (like select elements) shining through with an iframe. It has a title bar and a content area, and can be moved,
    resized and closed with the 'x' icon by default.
  </p>
</div>

<%=  link_to_modal "Demo Form", "#demo-form", :class=>"button" %>
<%= link_to 'Back', places_path %>
