<!DOCTYPE html>

<html>
<head>
	<title>HistCrownApp</title>	
	<meta charset=utf-8 />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<%= stylesheet_link_tag "application", media: "all" %>
	

	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
	  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  		<%= csrf_meta_tags %>
</head>


<body>
	<div id="modal">
	</div>
	<header>
		<h1>Historic Crown Heights</h1>
		<nav>
			<a id="new-story" href="#">add a story</a>
			<a href="">about</a>
			<a href="">contact us</a>
		</nav>
	</header>
	<section id="container" class="clearfix">
		<div id="map-container">
			<div id="map"></div>
		</div>
		<div id="content">
			<div class="image"></div>
			<div id="stories"></div>
		</div>

	</section>


<!-- 	<%= javascript_include_tag  %> -->
</body>
</html>

